<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"	
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
	<link rel="stylesheet" th:href="@{/css/demo.css}" />
	<script type="text/javascript" th:src="@{/js/lib/jquery-3.4.1.min.js}"></script>
	<script type="text/javascript" th:src="@{/js/script.js}"></script>
<title>工作清單</title>
</head>
<body>
	<div class="container">
		<h1 class="title">
			<span th:text="${currentDate}"></span>-排班表
		</h1>
		<hr>

		<div class="input-group mb-3">
			<input id="selectedDate" th:value="${currentDate}" type="date" class="form-control form-control-lg col-lg-3" onChange="getTaskListByDate()">
			<div class="input-group-append">
				<a th:href="@{/tasks/showFormForAdd}" class="btn btn-primary btn-lg">
					新增工作 </a>
			</div>
		</div>
		<table class="table table-boardered table-striped">
			<thead class="thread-dark">
				<tr>
					<th width="30%">客戶</th>
					<th width="20%">時間</th>
					<th width="20%">司機</th>
					<th width="30%">動作</th>
				</tr>
			</thead>

			<tbody>
				<tr th:each="tempTask : ${tasks}">
					<td>
						<a th:if="${tempTask.status == '10'}" th:text="${tempTask.customerName}"
						th:href="@{/tasks/showFormForUpdate(taskId=${tempTask.assignNo})}">
						</a>
						<span th:if="${tempTask.status == '60'}" th:text="${tempTask.customerName}"></span>
					</td>
					<td th:text="${tempTask.assignStartTime}" />
					<td th:text="${tempTask.empName}" />
					<td>
						<!-- Add update button/link -->
						<a th:if="${tempTask.status == '10' && tempTask.assignDate != null}" th:href="@{/taskWeight/showForm(assignNo=${tempTask.assignNo})}"
							class="btn btn-info">
							秤重
						</a>
						<button th:if="${tempTask.assignDate == null && tempTask.status == '10'}" type="button" class="btn btn-danger">待安排</button>
						<a th:if="${tempTask.status == '60'}" th:href="@{/taskWeight/showForm(assignNo=${tempTask.assignNo})}" type="button" class="btn btn-secondary/">己秤</a>
						<button th:if="${#dates.format(tempTask.assignDate, 'yyyy-MM-dd') == currentDate}" type="button" class="btn btn-primary">今</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>